### Processed Data File Conversion
#### Contains Normalization-Dummy Variables added & finally converted to 'cleanprocessedata.csv' file

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("cleandata.csv", index_col='datetime', parse_dates=True)
df.head()

,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,rentals
datetime,,,,,,,,,,,,
2011-01-01 00:00:00,0,1,0,0,1,9.84,14.395,81,0.0,3,13,16
2011-01-01 01:00:00,1,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2011-01-01 02:00:00,2,1,0,0,1,9.02,13.635,80,0.0,5,27,32
2011-01-01 03:00:00,3,1,0,0,1,9.84,14.395,75,0.0,3,10,13
2011-01-01 04:00:00,4,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [3]:
df['windspeed'] = df['windspeed'] / df['windspeed'].max()
df['humidity'] = df['humidity'] / df['humidity'].max()
col = ["temp", "atemp"]
df[col] = (df[col]-df[col].min())/(df[col].max()-df[col].min())
df

,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,rentals
datetime,,,,,,,,,,,,
2011-01-01 00:00:00,0,1,0,0,1,0.224490,0.305068,0.81,0.000000,3,13,16
2011-01-01 01:00:00,1,1,0,0,1,0.204082,0.288064,0.80,0.000000,8,32,40
2011-01-01 02:00:00,2,1,0,0,1,0.204082,0.288064,0.80,0.000000,5,27,32
2011-01-01 03:00:00,3,1,0,0,1,0.224490,0.305068,0.75,0.000000,3,10,13
2011-01-01 04:00:00,4,1,0,0,1,0.224490,0.305068,0.75,0.000000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-19 19:00:00,19,4,0,1,1,0.367347,0.423649,0.50,0.838772,7,329,336
2012-12-19 20:00:00,20,4,0,1,1,0.346939,0.372860,0.57,0.483899,10,231,241
2012-12-19 21:00:00,21,4,0,1,1,0.326531,0.338964,0.61,0.483899,4,164,168
2012-12-19 22:00:00,22,4,0,1,1,0.326531,0.372860,0.61,0.193646,12,117,129
2012-12-19 23:00:00,23,4,0,1,1,0.306122,0.355856,0.66,0.290253,4,84,88

In [4]:
dummy_season = pd.get_dummies(df.season, prefix='season')
dummy_season.sample(n=10,random_state = 12)

                     season_1  season_2  season_3  season_4
datetime
2012-01-10 12:00:00         1         0         0         0
2011-03-03 16:00:00         1         0         0         0
2011-11-05 16:00:00         0         0         0         1
2012-12-08 17:00:00         0         0         0         1
2011-06-10 17:00:00         0         1         0         0
2011-08-13 09:00:00         0         0         1         0
2012-01-01 12:00:00         1         0         0         0
2012-08-04 05:00:00         0         0         1         0
2011-12-17 16:00:00         0         0         0         1
2012-04-01 08:00:00         0         1         0         0

In [5]:
dummy_weather = pd.get_dummies(df.weather, prefix='weather')
dummy_weather.sample(n=10, random_state = 12)

                     weather_1  weather_2  weather_3  weather_4
datetime
2012-01-10 12:00:00          1          0          0          0
2011-03-03 16:00:00          1          0          0          0
2011-11-05 16:00:00          1          0          0          0
2012-12-08 17:00:00          1          0          0          0
2011-06-10 17:00:00          1          0          0          0
2011-08-13 09:00:00          0          1          0          0
2012-01-01 12:00:00          1          0          0          0
2012-08-04 05:00:00          1          0          0          0
2011-12-17 16:00:00          1          0          0          0
2012-04-01 08:00:00          0          1          0          0

In [6]:
dummy_hour = pd.get_dummies(df.hour, prefix='hour')
dummy_hour.sample(n=10, random_state = 12)

,hour_0,hour_1,hour_2,hour_3,hour_4,hour_5,hour_6,hour_7,hour_8,hour_9,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
datetime,,,,,,,,,,,,,,,,,,,,,
2012-01-10 12:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-03-03 16:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2011-11-05 16:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2012-12-08 17:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2011-06-10 17:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2011-08-13 09:00:00,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2012-01-01 12:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2012-08-04 05:00:00,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-12-17 16:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2012-04-01 08:00:00,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df = pd.concat([df, dummy_hour], axis=1)
df = pd.concat([df, dummy_weather], axis=1)
df = pd.concat([df, dummy_season], axis=1)
df.head(10)

,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,...,hour_22,hour_23,weather_1,weather_2,weather_3,weather_4,season_1,season_2,season_3,season_4
datetime,,,,,,,,,,,,,,,,,,,,,
2011-01-01 00:00:00,0,1,0,0,1,0.224490,0.305068,0.81,0.000000,3,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 01:00:00,1,1,0,0,1,0.204082,0.288064,0.80,0.000000,8,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 02:00:00,2,1,0,0,1,0.204082,0.288064,0.80,0.000000,5,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 03:00:00,3,1,0,0,1,0.224490,0.305068,0.75,0.000000,3,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 04:00:00,4,1,0,0,1,0.224490,0.305068,0.75,0.000000,0,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 05:00:00,5,1,0,0,2,0.224490,0.271171,0.75,0.193646,0,...,0,0,0,1,0,0,1,0,0,0
2011-01-01 06:00:00,6,1,0,0,1,0.204082,0.288064,0.80,0.000000,2,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 07:00:00,7,1,0,0,1,0.183673,0.271171,0.86,0.000000,1,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 08:00:00,8,1,0,0,1,0.224490,0.305068,0.75,0.000000,1,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 09:00:00,9,1,0,0,1,0.306122,0.372860,0.76,0.000000,8,...,0,0,1,0,0,0,1,0,0,0

In [8]:
df.drop(['hour','season','weather','atemp','casual','registered'], axis = 1, inplace=True)
df.head(20)

,holiday,workingday,temp,humidity,windspeed,rentals,hour_0,hour_1,hour_2,hour_3,...,hour_22,hour_23,weather_1,weather_2,weather_3,weather_4,season_1,season_2,season_3,season_4
datetime,,,,,,,,,,,,,,,,,,,,,
2011-01-01 00:00:00,0,0,0.224490,0.81,0.000000,16,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 01:00:00,0,0,0.204082,0.80,0.000000,40,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 02:00:00,0,0,0.204082,0.80,0.000000,32,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 03:00:00,0,0,0.224490,0.75,0.000000,13,0,0,0,1,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 04:00:00,0,0,0.224490,0.75,0.000000,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 05:00:00,0,0,0.224490,0.75,0.193646,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2011-01-01 06:00:00,0,0,0.204082,0.80,0.000000,2,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 07:00:00,0,0,0.183673,0.86,0.000000,3,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 08:00:00,0,0,0.224490,0.75,0.000000,8,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 09:00:00,0,0,0.306122,0.76,0.000000,14,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 10:00:00,0,0,0.367347,0.76,0.548303,36,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 11:00:00,0,0,0.346939,0.81,0.612924,56,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 12:00:00,0,0,0.408163,0.77,0.612924,84,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2011-01-01 13:00:00,0,0,0.448980,0.72,0.645126,94,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2011-01-01 14:00:00,0,0,0.448980,0.72,0.612924,106,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2011-01-01 15:00:00,0,0,0.428571,0.77,0.645126,110,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2011-01-01 16:00:00,0,0,0.408163,0.82,0.645126,93,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2011-01-01 17:00:00,0,0,0.428571,0.82,0.612924,67,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2011-01-01 18:00:00,0,0,0.408163,0.88,0.548303,35,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2011-01-01 19:00:00,0,0,0.408163,0.88,0.548303,37,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0

In [9]:
df.columns

Index(['holiday', 'workingday', 'temp', 'humidity', 'windspeed', 'rentals',
       'hour_0', 'hour_1', 'hour_2', 'hour_3', 'hour_4', 'hour_5', 'hour_6',
       'hour_7', 'hour_8', 'hour_9', 'hour_10', 'hour_11', 'hour_12',
       'hour_13', 'hour_14', 'hour_15', 'hour_16', 'hour_17', 'hour_18',
       'hour_19', 'hour_20', 'hour_21', 'hour_22', 'hour_23', 'weather_1',
       'weather_2', 'weather_3', 'weather_4', 'season_1', 'season_2',
       'season_3', 'season_4'],
      dtype='object')

# Convert To CSV Code

In [10]:
df.to_csv("cleanprocessed_data.csv",header=True)

In [11]:
X = df[['holiday', 'workingday', 'temp', 'humidity', 'windspeed',
        'hour_0', 'hour_1', 'hour_2', 'hour_3', 'hour_4', 'hour_5', 'hour_6',
       'hour_7', 'hour_8', 'hour_9', 'hour_10', 'hour_11', 'hour_12',
       'hour_13', 'hour_14', 'hour_15', 'hour_16', 'hour_17', 'hour_18',
       'hour_19', 'hour_20', 'hour_21', 'hour_22', 'hour_23', 'weather_1',
       'weather_2', 'weather_3', 'weather_4', 'season_1', 'season_2',
       'season_3', 'season_4']]